[submodule "go-http-redis"]
	path = go-http-redis
	url = https://github.com/AnAsianGangster/go-http-redis

[submodule "go-consistent-hashing"]
	path = go-consistent-hashing
	url = https://github.com/AnAsianGangster/go-consistent-hashing
